
/* font styles */


/* faq dropdowns */
/* dropdown arrow */
.fas{
	margin-left: 10px;
	}
.btn-link {
	font-weight: 400;
	color: black !important;
	background-color: transparent;
}
.card-header {
	padding: .2rem 1.25rem !important;
	margin-bottom: 0;
	background-color: transparent !important;
	border-bottom: 1px solid #dddfd4;
}
.card{
	margin: 10px 0px 10px 0px;
}
