body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../images/homeBackground.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
	padding: 60px 0px 30px 0px;
}
/* font styles */
h3{
	/* font-family: 'Anton', sans-serif !important; */
	font-family: "komu-a",sans-serif !important;
	color: #ffffff !important;
	letter-spacing: 1.5px; 
	text-align: center;
}

.pinInput{
	height: 40px;
}
.centerPin{
		margin: auto;
    width: 50% !important;
}