/* button css */
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}
/* color card */
.card-title{
	margin-bottom: 5px !important;
	font-weight: 700;
}
.card{
	border: none !important;
	background: transparent !important;
}
.colorRow{
	margin-bottom: 3%;
}
/* start of media queries */
@media only screen and (max-width: 350px) {
	.card-title{
		font-size: .95rem;
	}
	.btn-circle.btn-xl {
		width: 70px;
		height: 70px;
		padding: 10px 16px;
		font-size: 24px;
		line-height: 1.33;
		border-radius: 35px;
	}
}
@media only screen and (min-width: 400px) and (max-width: 450px){
	.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 45px;
}
}
